# Streamlit Cloud → App settings → Secrets
# Firebase Console → Project settings → Service accounts → Generate new private key

[firebase]
projectId = "xtranet-d7dca"

[google_service_account]
type = "service_account"
project_id = "xtranet-d7dca"
private_key_id = "PASTE"
private_key = """-----BEGIN PRIVATE KEY-----
PASTE
-----END PRIVATE KEY-----
"""
client_email = "firebase-adminsdk-xxxxx@xtranet-d7dca.iam.gserviceaccount.com"
client_id = "PASTE"
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url = "PASTE"
